/********************** Media Query *********************************/
@media (max-width:1199px) {
.vision_ab h2, .mission_ab h2 {
    line-height: 36px;
}
}

@media (max-width: 991px) {
#nav-icon0{
    display: block;
}
#collapsibleNavbar{
    display: none !important;
}
#collapsibleNavbar.menu_open {
    display: block !important;
    position: absolute;
    top: 88px;
    left: 0;
    right: 0;
    background: #fff;
}
.navbar-expand-md .navbar-nav {
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
ul.navbar-nav > li {
    margin: 0;
    position: relative;
    z-index: 99;
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
    border-bottom: 1px solid #eee;
    padding: 20px 5px;
}
.mob_hide {
    display: none;
}
.menu ul.submenu {
    background: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    height: auto;
    left: 0;
    opacity: 1;
    position: relative;
    transition: all .5s ease;
    top: 0;
    width: 100%;
    visibility: visible;
    min-width: 1px;
}
.menu ul.submenu a {
    padding: 20px 5px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.banner h1 {
    line-height: 66px;
}
.launching_company h2 {
    font-size: 60px;
}
}


@media (max-width: 767px) {
.navbar-brand img {
    max-width: 100px;
}
#nav-icon0 {
    margin: 12px 0px 0;
}
.hero_left_content h2 {
    line-height: 34px;
    font-size: 27px;
}
.hero_left_content p {
    color: #626262;
    font-size: 14px;
    line-height: 26px;
}
.hero_list_ul li {
    font-size: 15px;
    line-height: 25px;
}
#collapsibleNavbar.menu_open {
    top: 68px;
}
.navbar-dark .navbar-nav .nav-link, .menu ul.submenu a {
    padding: 15px 5px;
    font-size: 12px;
}
.banner.calendar_banner h1 {
    font-size: 40px;
}
.banner {
    padding: 60px 0px;
}
.calendar_content h2 {
    font-size: 24px;
    line-height: 30px;
}
.banner h1 {
    font-size: 30px;
    line-height: 40px;
}
.Me2B_Relationships p {
    font-size: 15px;
    line-height: 28px;
}
.Me2B_Relationships h2, .ethical_foundation h2, .Me2B_Principles h2, .Me2B_Principles h2, .about_bussiness h2 {
    line-height: 35px;
    font-size: 30px;
}
.vision_ab h2, .mission_ab h2 {
    line-height: 28px;
    font-size: 22px;
}
.Repository_link_grid ul li {
    font-size: 14px;
}
.launching_company h2 {
    font-size: 40px;
    line-height: 50px;
}
.launching_btn {
    line-height: 18px;
}
.cookie_policy_content h2 {
    line-height: 30px;
    font-size: 28px;
}
ul.more_phone_numbers li {
    font-size: 14px;
}
.upcoming_webinar h4 {
    font-size: 18px;
}
.upcoming_webinar p {
    font-size: 14px;
    line-height: 26px;
}
}

@media (max-width: 580px){


}

@media (max-width: 520px){

}

@media (max-width: 360px){

}