{{ "<!-- BEGIN FOOTER -->" | safeHTML }}
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="{{ .Site.Params.footer.footerImageLink }}"><img src="{{ .Site.Params.footer.footerImage }}"></a>
				<p class="foot_txt">{{ .Site.Params.footer.text1 }} <a href="{{ .Site.Params.footer.text2url }}">{{ .Site.Params.footer.text2 }}</a></p>
			</div>
		</div>
	</div>
</footer>
<!-- End footer -->

<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

<script type="text/javascript">
	$(document).ready(function(){
		$('#nav-icon0').click(function(){
			$(this).toggleClass('open');
			$('#collapsibleNavbar').toggleClass('menu_open');
		});
	});
</script>
</body>
</html>
{{ "<!-- END FOOTER -->" | safeHTML }}