<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Site.Title }}</title>
		<link rel='icon' href='{{ .Site.BaseURL }}images/certified_icon.png' type='image/x-icon'/ >
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">-->
		<link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
		<link href="{{ .Site.BaseURL }}css/responsive.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css">
        <link href="{{ .Site.BaseURL }}css/font-face.css" rel="stylesheet">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">-->
    </head>
<body>

{{ partial "nav.html" . }}