{{ partial "header.html" . }}

{{ "<!-- Start Certified -->" | safeHTML }}

<section class="launching_company">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Launching in 2019</h2>
				<a href="#" class="launching_btn">Nominate a Company, Product or Service</a>
			</div>
		</div>
	</div>
</section>

{{ "<!-- End Certified -->" | safeHTML }}

{{ partial "footer.html" . }}
