{{ partial "header.html" . }}

{{ "<!-- Start Cookie policy -->" | safeHTML }}

<!-- Start banner -->
<section class="banner" style="background-image: url({{ .Site.BaseURL }}images/calendar_banner.jpeg)">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>{{ .Params.Title }}</h1>
			</div>
		</div>
	</div>
</section>
<!-- End banner -->

<!-- Start Cookie Policy content -->
<section class="cookie_policy_content pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Me2B Alliance Cookie Policy</h2>
				<p>We are making efforts to eliminate all cookies from this website. Currently, there are three cookies in use which are integral to the website platform we're using.   Two cookies optimize website usability:</p>
				<ul class="cookie_p_ul">
					<li>language - which is used to indicate in which language the website is written --currently English.</li>
					<li>is_mobile - to optimize the website for mobile devices.</li>
				</ul>
				<p>And the third cookie enables user identification (ugh):</p>
				<ul class="cookie_p_ul">
					<li>_cfduid - Cloudflare user identity</li>
				</ul>
				<p>Given our keen interest in respecting your privacy, we are actively working on porting our website to a different platform that doesn't track identity/remember you.  </p>
			</div>
		</div>
	</div>
</section>
<!-- End Cookie Policy content -->

{{ "<!-- End Cookie policy -->" | safeHTML }}

{{ partial "footer.html" . }}
