{{ partial "header.html" . }}

{{ "<!-- Start Join -->" | safeHTML }}

<!-- Start banner -->
<section class="banner" style="background-image: url({{ .Site.BaseURL }}images/calendar_banner.jpeg)">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>{{ .Params.Title }}</h1>
			</div>
		</div>
	</div>
</section>
<!-- End banner -->


<section class="join_form_div pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
				<h2>I want to join the movement!</h2>
				<span class="join_lead"><em><span class="required_astrik">*</span> INDICATES REQUIRED FIELD</em></span>
				<form class="join_form" action="#">
					<div class="form-group">
						<label>Name <span class="required_astrik">*</span></label>
						<div class="row">
							<div class="col-md-6">
								<input type="text" name="" class="form-control" placeholder="First">
							</div>
							<div class="col-md-6">
								<input type="text" name="" class="form-control" placeholder="Last">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Email <span class="required_astrik">*</span></label>
						<input type="email" name="" class="form-control">
					</div>
					<div class="form-group">
						<label>Please indicate your area of expertise and organization you represent, if any  <span class="required_astrik">*</span> <span class="instructions-help"></span></label>
						<textarea class="form-control" rows="7" id="comment"></textarea>
					</div>
					<button type="submit" class="btn submit_btn">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>

{{ "<!-- End Join -->" | safeHTML }}

{{ partial "footer.html" . }}
