{{ partial "header.html" . }}

{{ "<!-- Start Principles -->" | safeHTML }}
<!-- Start banner -->
<section class="banner" style="background-image: url({{ .Site.BaseURL }}images/calendar_banner.jpeg)">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>{{ .Params.Title }}</h1>
			</div>
		</div>
	</div>
</section>
<!-- End banner -->


<section class="Me2B_Relationships pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Me2B Relationships</h2>
				<p>Me2B relationships are the relationships we have with each of the product and service providers in our lives--in both the physical and digital spheres.  These are <em><strong>relationships</strong></em>.  Relationships are created through the simple act of interaction, sharing.  In Me2B Relationships sharing takes the form of a <em><strong>Me2B Deal</strong></em>--an exchange of mutually agreed upon value.  In other words, there exists a <em><strong>quid pro quo</strong></em> (“this for that”) agreement that defines and bounds the scope of sharing.  As a simple example, you go to a restaurant and pay $20 for a meal you give $20 and you get a meal.</p>
				<p>A Me2B relationship is characterized by the individual having agency throughout the entire lifecycle of a relationship with a vendor: including what to share, what to keep private, when to start the relationship, and when to end the relationship.  </p>
			</div>
		</div>
	</div>
</section>


<section class="ethical_foundation pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Our Ethical Foundation:  Rules of Engagement</h2>
				<ul class="ethical_ul">
					<li><strong>Freedom:</strong> We agree to not coerce or manipulate each other.</li>
					<li><strong>Respect of Boundaries:</strong> We agree to respect each others' personal boundaries, including</li>
					<li><strong>Respectful Defaults:</strong> In the absence of stated preferences, we default to the most conservative behavior.</li>
					<li><strong>Fairness & Non-exploitation:</strong> We agree to treat each other fairly and not exploit things that are shared.</li>
					<li><strong>Good Communication:</strong> We agree to be forthright, honest and clear in our communication.</li>
					<li><strong>Non-Harming:</strong> We agree to not willfully harm one another.</li>
					<li><strong>Problem Solving:</strong> We agree to respectful, collaborative and fair problem solving methods. </li>
				</ul>
				<p>Just like any relationship in our lives, these rules also apply when we are in Me2B Relationship with a product or service provider.</p>
			</div>
		</div>
	</div>
</section>


<section class="Me2B_Principles pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Me2B Principles</h2>
				<ol class="me2B_principle_uline">
					<li><strong>I'm in Charge:</strong> I'm in charge of my Me2B Relationships with product and service providers.  I'm in charge of all my Digital Assets:
						<ul>
							<li>All data that is about me,</li>
							<li>My digital files that either I created or purchased.</li>
						</ul>
					</li>
					<li><strong>Play Nice:</strong> We agree to play nice, according to the Rules of Engagement. Doing so is a win/win--it builds trust and deepens the value of our Me2B Relationship.</li>
					<li><strong>No Data without a Me2B Relationship:</strong> No one stores data about me without being in a Me2B Relationship.</li>
				</ol>
			</div>
		</div>
	</div>
</section>



<section class="about_bussiness pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>What About Businesses That Have Information About Me But No Me2B Relationship?</h2>
				<h4><em>Principle #3:  The "No-Me2B Relationship Rule"</em></h4>
				<p>Having information about me <em><strong>necessitates</em></strong> a Me2B Relationship.  Today, however, there is an entire category of businesses called Data Brokers that buy and sell information about people, without any participation, awareness--certainly no Me2B Relationship.</p>
				<p>Just like in interpersonal relationships, it's not cool for you to have information about me that you didn't receive from me.  So no matter how you acquire it, if you are a business and you have obtained information about me, you have a duty to either dump the data or establish a Me2B Relationship with me.</p>
				<ul class="ab_business_ul">
					<li>If you [a business]  have purchased or obtained information about me, and we are not in Me2B Relationship, you have a duty to proactively establish a Me2B Relationship with me in order to
						<ul>
							<li>Disclose to me:
								<ul>
									<li>What information you have, how you use it, with whom  you intend to sell or share it, where you got it, etc.</li>
								</ul>
							</li>
							<li>AND allow me the following options [at no cost to me]:
								<ul>
									<li>to have some or all data about me removed,</li>
									<li>to correct some or all data about me.</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{{ "<!-- End Principles -->" | safeHTML }}

{{ partial "footer.html" . }}
