{{ partial "header.html" . }}

{{ "<!-- Start Webinars -->" | safeHTML }}

<!-- Start banner -->
<section class="banner" style="background-image: url({{ .Site.BaseURL }}images/calendar_banner.jpeg)">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>{{ .Params.Title }}</h1>
			</div>
		</div>
	</div>
</section>
<!-- End banner -->


<section class="upcoming_webinar pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Upcoming Webinars</h2>
				<h4>December 19, 2019: <em>CCPA Through a Me2B Lens</em></h4>
				<p>The CCPA – which takes effect on January 1, 2020 – is the first comprehensive consumer privacy law enacted in the United States. It creates new obligations for businesses and new rights for consumers.</p>
				<p>But does it really get at the heart of the issues that consumers ought to be worried about when they share data with businesses and online services and platforms? This webinar will look at the key provisions of the CCPA from the perspective of the Me2B Alliance, asking what the law does – and doesn’t – do to advance consumer interests and agency in their online interactions with businesses.</p>
				<div class="Speaker">
					<h3>Speaker</h3>
					<div class="w_profile_name">Christopher W. Savage</div>
					<div class="w_profile_post">Partner, Davis Wright Tremaine LLP</div>
					<img src="https://www.me2balliance.org/uploads/6/1/3/3/61334893/published/chris-savage-photo.png?1576090658">
					<p>Chris Savage, CIPP/US and CIPT/US, helps companies in communications and data-centric industries navigate legal and regulatory issues involving communications, privacy, and data security. For clients with immediate problems, when compromise is possible, he negotiates solutions that work. When it isn’t, he litigates – against the government or private parties, as needed. For clients who can take a longer view, Chris works with regulators and legislators to help build a legal ecosystem where clients can flourish. </p>
					<p>Chris brings nearly four decades of diverse experience to every client problem. He has handled issues about competitors entering established markets; technical and economic aspects of network interconnection; deployment of new technology and infrastructure; data security and privacy; and complex issues of cost allocation, financial accounting, and contract interpretation.</p>
				</div>
				<div class="join_webinar">
					<p>To join this webinar, please use the details below:</p>
					<br>
					<strong>Me2B Webinar: CCPA Through a Me2B Lens</strong>
					<p>Thu, Dec 19, 2019 8:30 AM - 9:30 AM America/Los Angeles (PST)</p>
					<br>
					<strong>Please join my meeting from your computer, tablet or smartphone.</strong>
					<p><a href="https://global.gotomeeting.com/join/546171549">https://global.gotomeeting.com/join/546171549</a></p>
					<br>
					<strong>You can also dial in using your phone.</strong>
					<p>United States: <a href="#">+1 (646) 749-3129</a></p>
					<br>
					<strong>Access Code: 546-171-549</strong>
					<br><br><br>
					<strong>More phone numbers:</strong>
					<ul class="more_phone_numbers">
						<li>Australia: <a href="#">+61 2 8355 1050</a></li>
						<li>Austria: <a href="#">+43 7 2081 5427</a></li>
						<li>Belgium: <a href="#">+32 28 93 7018</a></li>
						<li>Brazil: <a href="#">+55 21 3500-3941</a></li>
						<li>Canada: <a href="#">+1 (647) 497-9391</a></li>
						<li>Denmark: <a href="#">+45 32 72 03 82</a></li>
						<li>Finland: <a href="#">+358 923 17 0568</a></li>
						<li>France: <a href="#">+33 170 950 594</a></li>
						<li>Germany: <a href="#">+49 692 5736 7317</a></li>
						<li>Ireland: <a href="#">+353 15 360 728</a></li>
						<li>Italy: <a href="#">+39 0 230 57 81 42</a></li>
						<li>Mexico: <a href="#">+52 55 3687 7278</a></li>
						<li>Netherlands: <a href="#">+31 207 941 377</a></li>
						<li>New Zealand: <a href="#">+64 9 280 6302</a></li>
						<li>Norway: <a href="#">+47 21 93 37 51</a></li>
						<li>Spain: <a href="#">+34 932 75 2004</a></li>
						<li>Sweden: <a href="#">+46 853 527 827</a></li>
						<li>Switzerland: <a href="#">+41 225 4599 78</a></li>
						<li>United Kingdom: <a href="#">+44 330 221 0088</a></li>
					</ul>
					<p>New to GoToMeeting? Get the app now and be ready when your first meeting starts:</p>
					<a href="https://global.gotomeeting.com/install/546171549">https://global.gotomeeting.com/install/546171549</a>
				</div>
			</div>
		</div>
	</div>
</section>

{{ "<!-- End Webinars -->" | safeHTML }}

{{ partial "footer.html" . }}
