{{ partial "header.html" . }}
<section class="hero_banner">
	<div class="container">
		<div class="row">
            <h1>404 - Page Not Found</h1>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}