{{ partial "header.html" . }}

{{ "<!-- Start Hero banner -->" | safeHTML }}
<section class="hero_banner">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="hero_left_content">
					<h2>Growing the market of trustable technology choices</h2>
					<p>Every day people are confronted with technology decisions that they can't effectively make--technical and legal jargon, coupled with lengthy Privacy Policies and Terms of Service.  Wouldn't it be great if the right software and legal experts reviewed technology products so you could know right away if a product or service was treating you right?</p>
					<ul class="hero_list_ul">
						<li><strong>We deserve to know if technology is treating us right.</strong></li>
						<li><strong>Because we deserve technology that treats us right.</strong></li>
					</ul>
					<p>Join the movement!</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="hero_right_content">
					<img src="{{ .Site.BaseURL }}images/certified_icon.png">
					<div class="alliance_announcement">
						<h3>Alliance Announcements</h3>
						<p>Join us for a live webinar<br class="mob_hide"><em><a href="{{ .Site.BaseURL }}/webinars">CCPA Through a Me2B Lens,</a></em> presented by Chris Savage on December 19th, 8:30am PT</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- End Hero banner -->" | safeHTML }}

{{ partial "footer.html" . }}
